<div class="space-y-4">
  <div class="flex flex-col space-y-2">
    <%= form.text_field teamField,
                    list: "team-#{team}",
                    class: "font-mono text-xs border-2 border-black",
                    data: {
                      action: changeTeamAction,
                      "table-target": tableTarget,
                    },
                    placeholder: teamLabel %>
    <datalist id="<%= "team-#{team}"%>">
      <% @teams.map { |team| team.shortname }.each do |team| %>
        <option value="<%= team %>"></option>
      <% end %>
    </datalist>
    <% if !errors.empty? %>
      <span class="text-xs font-mono text-red-500"><%= errors.join(",") %></span>
    <% end %>
  </div>
  <table
    id="<%= picksControllerId%>"
    class="picks border-black shadow-md mx-16 font-mono"
    data-controller="picks"
  >
    <tr>
      <th class="border px-1 py-4 bg-black text-white font-mono text-xs">Ovr</th>
      <th class="border px-1 py-4 bg-black text-white font-mono text-xs">R</th>
      <th class="border px-1 py-4 bg-black text-white font-mono text-xs">Trade</th>
    </tr>
    <% all_picks.each do |pick| %>
      <tr
        class="hover:bg-slate-100"
        data-pick="<%= pick.overall%>"
        data-picks-target="row"
        hidden
      >
        <td class="border px-1 "><%= pick.overall %></td>
        <td class="border px-1 "><%= pick.round %></td>
        <td class="border px-1"><%= form.check_box field,
                         {
                           data: {
                             "picks-target": "checkbox",
                           },
                           multiple: true,
                           class:
                             "w-4 h-4 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2 ",
                         },
                         pick.overall,
                         false %></td>
      </tr>
    <% end %>
  </table>
</div>
