      <div
          id="results"
          class="flex flex-row items-start"
          data-controller="results"
          data-results-models-value="<%= models.map { |m| { "id" => m.id, "values" => m.to_map} }.to_json%>"
        >
          <div class="flex flex-col items-center space-y-2">
            <h2 class="text-xl font-mono">
              Results
            </h2>
            <h3 class="font-mono text-xs text-slate-700">
              Showing net score ie Opposing Team Value - Team Value.
            </h3>
            <table class="border-black shadow-md mx-16 font-mono text-xs">
              <tr>
                <th class="border px-1 py-4 bg-black text-white flex justify-center">
                  <img
                     class="size-6" data-image-provider-target="teamA"  src=<%= image_path(trade.team_a? ? trade.team_a.image_path : 'logos/empty.png')%>/>
                </th>
                </th>
                <% models.each do |model| %>
                  <th class="border px-1 py-4 bg-black text-white font-mono text-xs"><%= model.name %></th>
                <% end %>
              </tr>
              <tr>
                <td data-results-target="teamAPicks"></td>
                <% models.each do |model| %>
                  <td
                    id="<%= "score-A-#{model.id}" %>"
                    class="border px-1 py-4 font-mono text-xs"
                    data-results-target="teamAScore"
                    data-model-id="<%= "#{model.id}"%>"
                  >0</td>
                <% end %>
              </tr>
              <tr>
                <th
                  class="
                    border px-1 py-4 bg-black text-white font-mono text-xs flex justify-center
                  "
                >
                  <img
                     class="size-6" data-image-provider-target="teamB" src=<%= image_path(trade.team_b? ? trade.team_b.image_path : 'logos/empty.png')%>/></th>
                <% models.each do |model| %>
                  <th class="border px-1 py-4 bg-black text-white font-mono text-xs"><%= model.name %></th>
                <% end %>
              </tr>
              <tr>
                <td data-results-target="teamBPicks"></td>
                <% models.each do |model| %>
                  <td
                    class="border px-1 py-4 font-mono text-xs"
                    data-results-target="teamBScore"
                    data-model-id="<%= "#{model.id}" %>"
                  >0</td>
                <% end %>
              </tr>
            </table>
           
          </div>
        </div>