<div data-controller="table" class="flex flex-row items-start">
    <form data-action="change->table#greet" data-table-target="form">
    <table class="border-black shadow-md mx-16 my-16">
    <tr>
      <td colspan="4" class="border px-1 py-2 bg-black text-white font-mono font-bold text-xs">
        <div class="flex-row justify-between w-full flex">
        <button data-action="table#previous" type="button" data-table-target="back" class="disabled:text-slate-500"> ← </button>
        <span data-table-target="roundLabel">Round 1</span>
  <button data-action="table#next" type="button" data-table-target="front" class="disabled:text-slate-500"> → </button>
        </div> 
        </td>
        </tr>
      <tr>
             <th class="border px-1 py-4 bg-black text-white font-mono text-xs">Ovr</td>
          <th class="border px-1 py-4  bg-black text-white font-mono text-xs">R</td>
       <th class="border px-1 py-4  bg-black text-white font-mono text-xs">P</td>
         <th class="border px-1 py-4  bg-black text-white font-mono text-xs"></td>
       </tr>
      <% (0..7).each do |round|%>
        <% (1..32).each do |pick|%>
                  <tr class="hover:bg-slate-100" data-round="<%= round%>"  data-table-target="row">
             <td class="border px-1 "><%= round * 32 + pick %></td>
          <td class="border px-1 "><%= round + 1%></td>
       <td class="border px-1 "><%= pick %></td>
       <td class="border px-1"><input type="checkbox" name="<%= round*32 + pick%>"class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"></td>
            </tr>
               <tr>
        <% end %>
      <% end %>
        </table>

</form>
<table class="border-black shadow-md mx-16 my-16">
  <tr>
             <th class="border px-1 py-4 bg-black text-white font-mono text-xs">Team A</td>
        
       </tr>
       <tr>
        <td data-table-target="teamAPicks">temp</td>
        </tr>
          <tr>
             <th class="border px-1 py-4 bg-black text-white font-mono text-xs">Team B</td>
        
       </tr>
       <tr>
        <td></td>
        </tr>
  </table>

</div>
<div data-controller="hello">
<button data-action="click->hello#greet" class="bg-black  border-r-4 text-white px-6 py-2 font-mono m-8  hover:shadow-md hover:text-yellow-100">Submit That Shit</button>
<div>
  </div>