<% content_for :title do %>
  Trades
<% end %>
<% content_for :subtitle do %>
  Your saved trades. You can load saved trades to make changes to them.
<% end %>
<table class="border-black shadow-md mx-16 font-mono text-xs">
  <tr>
    <th class="border px-1 py-4 bg-black text-white ">Team A</th>
    <th class="border px-1 py-4 bg-black text-white ">Team B</th>
    <% @models.each do |model| %>
      <th class="border px-1 py-4 bg-black text-white font-mono text-xs"><%= model.name %></th>
    <% end %>
    <th class="border px-1 py-4 bg-black text-white font-mono text-xs">
    </th>
  </tr>
  <% @trades.each do |trade| %>
    <tr>
      <td class="border px-1 py-2 font-mono text-xs">
        <div class="flex flex-row gap-2">
          <img src="<%= image_path(trade.team_a.image_path) %>" class="size-4"/>
          <%= trade.team_a_picks.join(", ") %>
        </div>
      </td>
      <td class="border px-1 py-2 font-mono text-xs">
        <div class="flex flex-row gap-2">
          <img src="<%= image_path(trade.team_b.image_path) %>" class="size-4"/>
          <%= trade.team_b_picks.join(", ") %>
        </div>
      </td>
      <% @models.each do |model| %>
        <% model_score = trade.all_model_scores[model.id] %>
        <td class="border px-1 py-4 font-mono text-xs">
          <div class="flex flex-row gap-2">
            <img
              src="<%= image_path(  model_score[0] < model_score[1] ? trade.team_a.image_path : trade.team_b.image_path) %>"
              class="size-4"
            />
            <%= "+#{(model_score[0] - model_score[1]).abs}" %>
          </div>
        </td>
      <% end %>
      <td class="border px-1 py-4 font-mono text-xs text-link">
        <%= link_to "Load", trade_path(trade), class: "text-link hover:underline" %>
        <%= link_to "Delete",
        trade_path(trade),
        data: {
          "turbo-method": :delete,
        },
        class: "text-link-destructive hover:underline" %>
      </td>
    </tr>
  <% end %>
</table>
