<div class="self-center items-center flex flex-col space-y-8 my-4">
  <div class="flex items-center flex-col max-w-1/2">
    <h1 class="font-bold font-mono text-4xl mb-2">Trades</h1>
    <h2 class="font-medium font-mono text-s text-slate-800 text-center">
      Your saved trades. You can load saved trades to make changes to them.
    </h2>
  </div>
  <table class="border-black shadow-md mx-16 font-mono text-xs">
    <tr>
      <th class="border px-1 py-4 bg-black text-white ">Team A</th>
      <th class="border px-1 py-4 bg-black text-white ">Team B</th>
      <% @models.each do |model| %>
        <th class="border px-1 py-4 bg-black text-white font-mono text-xs"><%= model.name %></th>
      <% end %>
      <th class="border px-1 py-4 bg-black text-white font-mono text-xs">
      </th>
    </tr>
    <% @trades.each do |trade| %>
      <tr>
        <td class="border px-1 py-2 font-mono text-xs">
          <%= trade.team_a %><br/>
          <%= trade.team_a_picks.join(", ") %>
        </td>
        <td class="border px-1 py-2 font-mono text-xs">
          <%= trade.team_b %><br/>
          <%= trade.team_b_picks.join(", ") %>
        </td>
        <% @models.each do |model| %>
          <% model_score = trade.all_model_scores[model.id] %>
          <td class="border px-1 py-4 font-mono text-xs">
            <%= model_score[0] > model_score[1] ? "Team A" : "Team B" %>
            <%= "+#{(model_score[0] - model_score[1]).abs}" %>
          </td>
        <% end %>
        <td class="border px-1 py-4 font-mono text-xs text-link">
          <%= link_to "Load", trade_path(trade), class: "text-link hover:underline" %>
          <%= link_to "Delete",
          trade_path(trade),
          data: {
            "turbo-method": :delete,
          },
          class: "text-link-destructive hover:underline" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
