<% content_for :title do %>
  Create Trade
<% end %>
<% content_for :subtitle do %>
  Choose a team to see their 2024 picks.<br/>
  When loading a trade, saving it will create a new one not modify the old.
<% end %>
<div
  data-controller="image-provider"
  id="image-provider"
  data-image-provider-image-paths-value="<%= (Team.all.map { |t| [t.shortname, image_path("logos/#{t.shortname}.png")]}).to_h.merge([['empty', image_path("logos/empty.png")]].to_h).to_json %>"
>
  <div
    data-controller="table"
    data-table-picks-by-team-value="<%= @picks_by_team.map {|k, v| [k.shortname, v.map(&:overall)]}.to_h.to_json %>"
    data-table-picks-outlet="[class~=picks]"
    data-table-results-outlet="#results"
    data-table-image-provider-outlet="#image-provider"
  >
    <%= form_with model: @trade, data: {action: "change->table#updatePicks", 'table-target':"form"}  do |form| %>
      <div class="flex flex-row items-start space-x-8">
        <%= render partial: "partials/pick_picker",
        locals: {
          form: form,
          all_picks: @all_picks,
          field: :team_a_picks,
          teamField: :team_a_shortname,
          errors: @trade.errors.full_messages_for(:team_a),
          team: "a",
          changeTeamAction: "change->table#teamAChanged",
          tableTarget: "teamA",
          teamLabel: "Team A",
          picksControllerId: "picks-team-a",
        } %>
        <%= render partial: "partials/pick_picker",
        locals: {
          form: form,
          all_picks: @all_picks,
          field: :team_b_picks,
          teamField: :team_b_shortname,
          errors: @trade.errors.full_messages_for(:team_b),
          team: "b",
          changeTeamAction: "change->table#teamBChanged",
          tableTarget: "teamB",
          teamLabel: "Team B",
          picksControllerId: "picks-team-b",
        } %>
        <div class="flex flex-col items-center space-y-2">
          <%= render partial: "partials/results", locals: { models: @models, trade: @trade } %>
          <div data-controller="hello" class="flex flex-col items-center space-y-2 pt-2">
            <%= form.submit "Save Trade",
                        data: {
                          action: "click->hello#greet",
                        },
                        class:
                          "
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                bg-black text-white px-6 py-2 font-mono hover:shadow-lg
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                hover:text-gray-200" %>
            <div data-controller="dissapearing">
              <% flash.each do |flash_type, message| %>
                <div data-dissapearing-target="main" class="font-mono text-xs text-green-500">
                  &#10003;
                  <%= message %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
