<!DOCTYPE html>
<html>
  <head>
    <title>TradeEvaluator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="h-screen">
      <div class="flex flex-col h-full">
        <div
          class="
            flex shadow-sm py-4 flex-row items-center px-4 justify-between flex-shrink-0
          "
        >
          <div class="grow-0">
            <h1 class="text-2xl font-mono font-bold block hover:underline no-underline"><%= link_to "Trade Evaluator", root_path %></h1>
          </div>

          <div class="flex space-x-8">
            <span class="font-mono align-middle hover:underline no-underline">
              <%= link_to "Models", models_list_path %>
            </span>
            <span class="font-mono align-middle hover:underline no-underline">
              <%= link_to "Trades", trades_path %>
            </span>
          </div>
        </div>
        <div class="flex-shrink overflow-scroll">
                <%= content_for?(:body) ? yield(:body) : yield %>
        </div>
      </div>
    </main>
  </body>
</html>
